
penalized/
sparse_kmeans.db
*.out
*backup
*.db

experiment/29_08_11_2025/R_mnist/matlab_data.mat
experiment/29_08_11_2025/R_mnist/selected_data.csv
experiment/29_08_11_2025/R_mnist/selected_data.zip
experiment/29_08_11_2025/R_mnist/selected_labels.csv
